.addons-container{
    width:100%;
display: flex;
align-items: center;
justify-content: space-between;
background-color: white;
border-radius: 10px;
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
height: 70px;
padding: 15px;

}

.addons-container:hover{
    cursor:pointer
}

.addons-container-active{
    border: 1px solid rgb(74,63,243)
}

.firstRowFormAddon{
  
    width: 100%;
    display: flex;
    padding-top: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.addons-icon{
    width: 20px;
    height: 20px;
    border: 1px solid antiquewhite;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.buttonContainerMobile{
    display: none;
    justify-content: space-between;
  }

.backButtonMobile{
    display:none;
    height: 40px;
    margin-top: 1.5rem;
    border-radius: 5px;
    border: none;
    width: 20%;
    color: grey;
    margin-right: 10px;
    background-color: rgb(249, 249, 251);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

.addons-icon-active{
    background-color: rgb(74,63,243)
}

@media(max-width: 900px){
    .backButton{
        display: none;
      }
      .backButtonMobile{
        display: block;
        position: absolute;
        bottom:25px;
        left: 20px;
      }
      .buttonContainerMobile{
        display: flex;
      }
}