* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  /* personalInfo Page*/
  .outerContainer {
    display: flex;
  
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgb(238,245,255);
  }
  
  .innerContainer {
    display: flex;
    border-radius: 20px;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 70%;
    height: 70%;
  }
  
  .personalInfoImageContainer {
    min-height: 80%;
    width: 25%;
  padding: 15px;
    border-radius: 20px 0 0 20px;
  
  
  }

  .steps-container{
      display: flex;
      align-items: center;
  }
  
  .imageOne {
      background-image: url('../assets/images/bg-sidebar-desktop.svg');
    width: 100%;
    min-height: 100%;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    color: white;
    padding: 20px
  }
  .step {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
    /* background-color: rgb(191,225,252); */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px
  }
  
  .step-button {
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
    /* cursor: pointer; */
    padding: 0;
    margin: 0;
    font-size: 16px;
  }
  /* right section in nav*/
  .personalInfoRightSide {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 75%;
    align-items: center;
  
  
  }
  
  
  
  
  
  .stepCounter {
    padding-bottom: 10px;
  }
  
  .personalInfoHeadingsContainer {
    width: 65%;
  }
  
  .personalInfoHeading {
      margin: 10px;
    font-weight: 700;
    font-size: 34px;
    font-family: 'Ubuntu', sans-serif;
  }

  .personalInfoDescription{
      color:grey;
    font-weight: 400;
    margin: 10px;
    font-family: 'Ubuntu', sans-serif;   
  }
  
  
  .personalInfoForm {
    width: 65%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  
  }
  
  .firstRowForm,
  .secondRowForm {
    width: 100%;
    display: flex;
    padding-top: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
  
  }
  
  .flexColumn {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    font-size: 10px;
    width: 100%;
  }
  
  .address {
    margin-top: 10px;
  }
  
  .buttonOne {
    margin-top: 1.5rem;
    width: 20%;
    height: 40px;
    align-self: flex-end;
    background-color: rgb(12, 117, 255);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    border: none;
    color: white;
  }
  
  .buttonOne:hover {
    cursor: pointer;
  }
  
  .inputField,
  .inputFieldAddress {
    border-radius: 5px;
    border: 1px solid lightgray;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 50px;
    padding-left: 10px;
    margin-top: 5px;
  }
  
  
  
  .inputFieldDob {
    border-radius: 5px;
    border: 1px solid lightgray;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 50px;
    padding-left: 10px;
    margin-top: 5px;
    width: 163%;
    background-color: rgb(248, 241, 241);
  }
  
  .inputField:hover {
    cursor: text;
  
  }
  
  .inputField:focus,
  .inputFieldDob:focus,
  .inputFieldAddress:focus {
    outline: none;
    border-color: blue;
  }
  
  
  
  .lastName:hover,
  .inputFieldDob:hover {
    cursor: pointer
  }
  
  .inputFieldAddress:hover {
    cursor: pointer
  }
  
  .error {
    color: red;
    font-size: 10px;
  }
  
  .redBorder,
  .redBorder:focus {
    border: 1px solid red;
  }
  
  @media(max-width:1675px) {
    .innerContainer {
      width: 80%;
    }
  }
  
  @media(max-width:1265px) {
    .innerContainer {
      width: 90%;
    }
  }
  
  @media(max-width:1118px) {
    .personalInfoRightSide {
      width: 90%;
    }
  }
  
  @media(max-width: 1027px) {
    .secondRowForm {
      flex-direction: column;
    }
  
    .inputFieldDob {
      width: 100%;
    }
  
    .inputField {
      width: 100%;
    }
  
    .firstName,
    .lastName,
    .address {
      width: 100%;
    }
  
    .buttonOne {
      align-self: center;
      margin-bottom: 10px;
      width: 100%;
    }
  
    .personalInfoNav {
      padding-top: 10px;
    }
  }