.summary-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

hr.summary-hr {
    border-top: 1px solid rgb(238, 235, 235);
  }

.summary-options {
    font-size: 14px;
    color: grey ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px
}


.summary-outer-container {
    background-color: rgb(248, 249, 254);
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.total-summary{
    padding: 5px 20px;
    width: 100%;
    font-size: 14px;
    color: grey ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 ;
}

.summary-container:hover {
    cursor: pointer
}

.buttonContainerMobile{
    display: none;
    justify-content: space-between;
  }

.backButtonMobile{
    display:none;
    height: 40px;
    margin-top: 1.5rem;
    border-radius: 5px;
    border: none;
    width: 20%;
    color: grey;
    margin-right: 10px;
    background-color: rgb(249, 249, 251);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }


@media(max-width: 900px){
    .backButton{
        display: none;
      }
      .backButtonMobile{
        display: block;
        position: absolute;
        bottom:25px;
        left: 20px;
      }
      .buttonContainerMobile{
        display: flex;
      }
}